<nav class="navbar navbar-dark" style="background-color: #8257c7">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1">SISTEMA DE VACUNACIÓN </span>
  </div>
</nav>
<div class="container d-flex justify-content-center mt-3">
  <div class="card" style="width: 35rem">
    <img src="assets/img/covid.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center">Información</h5>
      <p class="card-text">
        Listado y registro para el proceso de vacunación contra el COVID-19
      </p>
      <div class="d-grid gap-2 mx-auto">
        <button
          class="btn btn-lg"
          style="background-color: #dabd3c"
          type="text"
          routerLink="/register"
        >
          Registro
        </button>
        <button class="btn btn-success btn-lg" type="text" routerLink="/list">
          Listado
        </button>
      </div>
    </div>
  </div>
</div>
